.background {
    -fx-background-color: #1d1d1d;
}

.label {
    -fx-font-size: 11pt;
    -fx-text-fill: black;
    -fx-opacity: 0.6;
}

.check-box .text {
    -fx-font-size: 11pt;
    -fx-text-fill: black;
    -fx-opacity: 0.6;
}

#pfgtabm0 .text {
    -fx-font-size: 11pt;
    -fx-text-fill: black;
    -fx-opacity: 1.0;
}

#altabm0 .text {
    -fx-font-size: 11pt;
    -fx-text-fill: black;
    -fx-opacity: 1.0;
}

.label-bright {
    -fx-font-size: 11pt;
    -fx-text-fill: black;
    -fx-opacity: 1;
}

.label-xyz {
    -fx-font-size: 9pt;
    -fx-text-fill: black;
    -fx-opacity: 1;
}

.label-header {
    -fx-font-size: 32pt;
    -fx-text-fill: black;
    -fx-opacity: 1;
}

.text-field {
    -fx-font-size: 12pt;
}

.tab-pane > .tab-header-area > .headers-region > .tab > .tab-container > .tab-label
{
    -fx-font-size: 11pt;
    -fx-text-fill: black;
    -fx-opacity: 0.6;
}

/*
 * Metro style Push Button
 * Author: Pedro Duque Vieira
 * http://pixelduke.wordpress.com/2012/10/23/jmetro-windows-8-controls-on-java/
 */
.button {
    -fx-padding: 3 10 3 10;
    -fx-border-color: #e2e2e2;
    -fx-border-radius: 15;
    -fx-border-width: 0;
    -fx-background-radius: 16.4, 15;
    -fx-background-color: darkblue;
    -fx-font-size: 11pt;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.std-btn{
    -fx-padding: 0;
    -fx-border-color: black;
    -fx-border-radius: 0;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: lightgoldenrodyellow;
    -fx-font-size: 8pt;
    -fx-text-fill: black;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.button:hover {
    -fx-background-color: darkblue;
}

.button:pressed, .button:default:hover:pressed {
    -fx-background-color: white;
    -fx-text-fill: #1d1d1d;
}

.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #1d1d1d;
    -fx-text-fill: white;
}

.button:default {
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: #ffffff;
}

.required {
    -fx-text-fill: red;
}

.tab-header-area{
    -fx-background-color: lightyellow;
    -fx-font-size: 18pt;
}

.text-area{
    -fx-font-family: 'monospace';
    -fx-text-fill: green;
}

.tab-header-area .label{
    -fx-font-size: 20pt;
    -fx-text-fill: black;
    -fx-opacity: 0.6;
}